{% extends 'shop/basic.html' %}

{% block title %} About-Us {% endblock %}
{% block body %} 

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Project-Mall</h1>
        <p>Project-Mall is an Indian e-commerce company based in Agra, Jhansi, Varanasi, India. It was founded by Abhay Verma, and Maansi in 2020. The company initially focused on Web development Project sales, before expanding into other Project categories such as App development, Web-development, Mini-Game, Web-App, Templates & many more.
          <br>
        The service runs only in Bundelkhand University, Jhansi. As of July 2020, Project-Mall runs in many cities. This is our starting in e-commerce industry. Project-Mall also owns PhonePe, Google-pay, Paytm, Amazon-Pay a mobile payments service based on the Unified Payments Interface (UPI).</p>
        <p><a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Website &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <a href="http://abhayverma143.pythonanywhere.com/" target="_blank" ><h2>Abhay Verma</h2></a>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="http://abhayverma143.pythonanywhere.com/" target="_blank" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Maansi</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>No Name</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> 
    <!-- /container -->

  </main>


{% endblock %}